APP_NAME=Party Planner API
APP_ENV=development
SECRET_KEY=12345678
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/party_planner
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
NOMINATIM_USER_AGENT=party-planner-app/1.0 (palashm0002@gmail.com)
